.langButton {
  font-size: 14px;
  width: 40px;
  height: 40px;
  transition: .2s;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  color: var(--light-text-color);

  &:hover {
    background-color: var(--grey-hover-color);
  }
}
