.nav {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(8px);
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 13px 30px;
  
  @media screen and (max-width: 800px) {
    padding: 13px 15px;
  }

  &MenuButton {
    display: none;
    background-color: transparent;
    border: none;
    color: #fff;
    margin-right: 15px;
    padding: 8px;
    border-radius: 6px;
  
    &:hover {
      background-color: var(--grey-hover-color);
    }
    
    @media screen and (max-width: 800px) {
      display: flex;
    }
  }

  &Links {
    display: flex;
    margin-right: 15px;
  
    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &Link {
    padding: 8px 30px;
    background-color: var(--accent-color);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    text-decoration: none;
    min-width: 170px;
    gap: 10px;

    @media screen and (max-width: 1000px) {
      padding: 8px 15px;
      min-width: 140px;
    }

    & + & {
      margin-left: 15px;
    }

    &:hover {
      background-color: var(--hover-accent-color);
    }
  }

  &List {
    display: flex;
    list-style: none;
    align-items: center;
    
    &Item {
      min-width: 40px;
      padding: 0 15px;
      
      @media screen and (max-width: 1000px) {
        padding: 0 5px;
      }
      @media screen and (max-width: 800px) {
        display: none;
  
        &:last-child {
          display: block;
          padding: 0 0 0 15px;
        }
      }
  
      & + & {
        border-left: 1px solid #fff;
  
        @media screen and (max-width: 1000px) {
          border-left: none;
        }
      }
    }
  
    &ItemLink {
      display: flex;
      transition: all .2s;
      position: relative;
      border-radius: 6px;
      padding: 8px;
  
      &:hover {
        background-color: var(--grey-hover-color);
      }
    }
  }

  &Mobile {
    display: none;
    position: fixed;
    background-color: var(--background);
    left: -90vw;
    top: 0;
    bottom: 0;
    max-width: 80vw;
    width: 100%;
    z-index: 15;
    box-shadow: var(--box-shadow-nav-mobile);
    transition: all .5s ease-in-out;

    @media screen and (max-width: 800px) {
      display: block;
    }

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }   
  }

  &MobileAbled {
    @media screen and (max-width: 800px) {
      left: 0;
      overflow: hidden;
    }
  }
  
  &MobileBlur {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 14;
    background: rgba(0,0,0,.2);
    backdrop-filter: blur(2px);
  }
  
  &MobileAbledBlur {
    @media screen and (max-width: 800px) {
      display: block;
      border: none;
    }
  }

  &MobileTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 13px 15px;
    background-color: #303030;

    &Link {
      min-width: auto;
    }

    &Options {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 90px;
    }
  }

  &MobileProfile {
    display: flex;
    align-items: center;
    padding: 13px 15px;
    width: 100%;
    background-color: #4f4f4f;
    transition: all .3s;
    gap: 15px;

    &:hover {
      background-color: #757575;
    }
  }

  &MobileProducts {
    display: flex;
    align-items: center;
    padding: 13px 15px;
    width: 100%;
    color: var(--accent-color);
    transition: all .3s;
    font-weight: bold;
    gap: 15px;

    &:hover {
      background-color: var(--hover-color);
    }
  }

  &MobileSelected {
    position: relative;
    display: flex;
    align-items: center;
    padding: 13px 15px;
    width: 100%;
    color: var(--text-color);
    transition: all .3s;
    gap: 15px;

    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.counter {
  position: absolute;
  right: -4px;
  top: -6px;
  background-color: var(--accent-color);
  border-radius: 10px;
  padding: 3px 5px;
  font-size: 11px;

  @media screen and (max-width: 800px) {
    right: 15px;
    top: 15px;
  }
}

.noCount {
  display: none;
}

.cartCounter {
  right: -4px;
  top: -6px;
}
