.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--box-background);
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);

  &Title {
    margin-bottom: 20px;

    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }

  &TitleBrands {
    margin-bottom: 10px;
    
    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }

  &Brands {
    list-style: none;
  }

  &BrandsItem {
    min-width: 150px;

    & + & {
      margin-top: 10px;
    }
  }
  
  &BrandsItemLink {
    text-align: center;
    position: relative;
    display: block;
    padding: 10px;
    text-transform: capitalize;
    transition: all .3s;


    @media screen and (max-width: 600px) {
      font-size: 14px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      top: 100%;
      left: 0;
      background-color: var(--accent-color);
      transition: transform .5s;
      transform: scaleX(0);
      transform-origin: right;
    }

    &:hover {
      color: #95a5a6;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}