.fieldset {
  border: none;

  &Textarea {
    width: 100%;
    resize: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    padding: 8px 10px;
    color: var(--text-color);
    outline: none;

    &:focus {
      border-color: var(--accent-color);
    }

    &::placeholder {
      color: var(--input-placeholder-color);
    }

    &::-webkit-scrollbar {
      width: 6px; 
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #999; 
      border-radius: 3px; 
    }
    
    &::-webkit-scrollbar-track {
      background-color: #f5f5f5; 
    }
  }

  &TextareaError {
    margin-top: 10px;
  }
}