.reviews {
  &Create {
    padding-bottom: 20px;
    border-bottom: 1px solid #5c5c5c;
  }
  
  &CreateAndRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    @media screen and (max-width: 500px) {
      display: block;
    }
  }

  &Submit {
    max-width: 100px;
    width: 100%;

    @media screen and (max-width: 500px) {
      margin-top: 20px;
      max-width: none;
    }
  }
}
