.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  color: var(--text-color);
  transition: all .2s;
  
  &:hover {
    color: var(--arrow-hover-color);
  }

  &::before {
    display: none;
  }
}