// Theme variables

html[class='dark'] {
  --background: #000;
  --text-color: #e8e8e8;

  --box-background: #232323;
}
html[class='light'] {
  --background: #fff;
  --text-color: #000;

  --box-background: #fff;
}

// Other variables

:root {
  --accent-color: #e00027;

  --dark-box-background: #222;

  --light-text-color: #e8e8e8;
}