// Theme variables

html[data-theme='dark'] {
  --background: #000;
  --foreground: #fff;
  --block: #fff;
}
html[data-theme='light'] {
  --background: #fff;
  --foreground: #000;
  --block: #000;
}

// Other variables