.productTitle {
  margin-bottom: 20px;

  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}

.productMain {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  background-color: var(--box-background);

  @media screen and (max-width: 950px) {
    display: block;
  }
  @media screen and (max-width: 600px) {
    padding: 15px 10px;
  }

  &Images {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    padding: 0 30px 20px;

    @media screen and (max-width: 1200px) {
      max-width: 550px;
    }
    @media screen and (max-width: 1100px) {
      max-width: 450px;
    }
    @media screen and (max-width: 950px) {
      min-width: 100%;
    }
    @media screen and (max-width: 550px) {
      padding: 0 0 20px;
    }
  }

  &Slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 520px;

    @media screen and (max-width: 950px) {
      height: auto;
    }
  }
  
  &Image {
    height: auto;
    max-width: 500px;
    width: 100%;
  }
  
  &Info {
    width: 100%;
    padding: 30px;

    @media screen and (max-width: 600px) {
      padding: 15px 0;
    }
  }

  &InfoInner {
    position: sticky;
    top: 70px;

    @media screen and (max-width: 950px) {
      position: none;
    }
  }

  &InfoRating {
    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }

  &InfoAvailable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
  }

  &InfoBuy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  &InfoDescription {
    margin-top: 30px;
    line-height: 26px;

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }

  &InfoDescTitle {
    margin-bottom: 10px;
  }
}
