.submit {
  cursor: pointer;
  background-color: var(--accent-color);
  padding: 10px;
  border: none;
  border-radius: 6px;
  width: 100%;
  color: var(--light-text-color);
  transition: all .2s;
  font-size: 16px;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }

  &:hover {
    background-color: var(--hover-accent-color);
  }
}
