.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  color: #fff;
  background-color: #e00027;
  border: none;
  border-radius: 3px;
  fill: #fff;
  transition: all .3s;

  &:hover {
    background-color: #f97988;
  }
  
  &Link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    background-color: #e00027;
    border-radius: 3px;
    fill: #fff;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
  
    &:hover {
      background-color: #f97988;
    }
  }
  
  &NoActive {
    background-color: #5c5c5c;
  }
}
