.card {
  padding: 15px 15px 20px;
  background-color: var(--box-background);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: all .3s;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--box-shadow-hover);
  }

  @media screen and (max-width: 500px) {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &Info {
    @media screen and (max-width: 500px) {
      padding-left: 18px;
      width: 100%;
    }
  }

  &Link {
    display: flex;
    justify-content: center;
  }

  &Title {
    margin-bottom: 5px;
    font-size: 14px;
    height: 50px;
  }

  &ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    margin-bottom: 10px;

    @media screen and (max-width: 500px) {
      height: 130px;
      margin-bottom: 0;
    }
  }

  &Image {
    height: auto;
    max-width: 210px;
    width: 100%;
    
    @media screen and (max-width: 500px) {
      width: 110px;
    }
  }

  &Main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &Buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}