.product {
  display: flex;
  align-items: center;
  padding: 15px 35px 15px 15px;
  background-color: var(--box-background);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  transition: all .3s;
  min-height: 140px;

  @media screen and (max-width: 550px) {
    padding: 15px 13px 15px 8px;
  }
  
  &:hover {
    transform: scale(1.01);
    box-shadow: var(--box-shadow-hover);
  }

  &RemoveButton {
    background-color: transparent;
    border: none;
    transition: all .2s;
    margin-right: 15px;
    cursor: pointer;
    padding: 8px;
    
    @media screen and (max-width: 500px) {
      margin-right: 6px;
    }

    &:hover {
      color: var(--accent-color);
    }
  }
  
  &Image {
    display: flex;
    height: auto;
    max-width: 130px;
    min-width: 80px;
    width: 100%;
  }

  &Info {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    width: 100%;

    @media screen and (max-width: 700px) {
      display: block;
      text-align: center;
    }
  }

  &Title {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
    height: 50px;
    
    
    @media screen and (max-width: 700px) {
      justify-content: center;
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  &Price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;

    @media screen and (max-width: 700px) {
      max-width: 100%;
    }
  }
}