.footer {
  background-color: var(--dark-box-background);
  padding-bottom: 8px;

  &Title {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 10px;
    color: var(--light-text-color);
  }
}